db: # 数据库配置
  host: localhost # 数据库地址
  port: 5432   # 数据库端口
  name: database # 数据库名
  user: username    # 数据库用户名
  password: password # 数据库密码

redis:
  host: localhost
  port: 6379
  password:   # 没有密码，默认值为空
  db: 0

email:
  email_name: xxxx@163.com
  email_password: # 应用密码，非用户密码，请在163邮箱（网页版） -> 设置 -> POP3/SMTP/IMAP -> 开启服务 -> 开启IMAP/SMTP服务. POP3/SMTP服务 -> 保存开启后弹出窗口显示的应用密码（随后消失不可查看））

smtp_server:
  SMTPServer_host: smtp.163.com # 服务提供商，须与email中的邮箱相匹配
  SMTPServer_port: 465  # 端口号 25 在云服务器上可能会被限制，请用户自行更换

script:
  github_repo_url: https://gitee.com/chenzanhong/agent.git # agent仓库地址
  start_port: 10000 # 配置反向SSH服务可用的最小端口，端口号范围多大，可以配置反向ssh服务的服务器就有多少，建议根据项目实际需求自行更改
  end_port: 45000 # 配置反向SSH服务最大端口
  ssh_tunnel_username: xxxx # 反向SSH服务器用户名，部署该项目的服务器的用户名，建议创建一个专门的用户，并限制权限
  ssh_tunnel_password: xxxx # 反向SSH服务器密码，部署该项目的服务器的密码
  public_server_ip: x.x.x.x # 部署该项目的服务器的公网IP（接收监控数据）和部署反向SSH服务的服务器公网IP（创建反向ssh连接），这里默认是部署在同一个服务器上


# 时序数据库配置，目前未使用，就这样写就行，还未清除TDengine相关的代码
tdengine: # 时序数据库配置
  host: localhost # 数据库地址
  port: 6030 # 数据库端口
  name: servermonitor # 数据库名称
  user: root # 数据库用户名
  password: taosdata # 数据库密码